@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Single>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Terratype;
@{
    Layout = null;
}

<fieldset>
    <legend>
        Map 1
    </legend>
    <dl>
        <dt>
            Zoom
        </dt>
        <dd>
            @Model.Content.Map.Zoom
        </dd>
        <dt>
            Lookup
        </dt>
        <dd>
            @Model.Content.Map.Lookup
        </dd>

        <dt>
            Position
        </dt>
        <dd>
            @Model.Content.Map.Position
        </dd>

        <dt>
            Coordinate System
        </dt>
        <dd>
            @Model.Content.Map.Position.Id
        </dd>

        <dt>
            Provider
        </dt>
        <dd>
            @Model.Content.Map.Provider.Id
        </dd>
        <dt>
            Icon Url
        </dt>
        <dd>
            @Model.Content.Map.Icon.Url
        </dd>
    </dl>

    <div id="pretent-accordion" style="display:none;">
        @Html.Terratype(Model.Content.Map,
            @<text>
                <div style="background-color:yellow;">
                    This icon is at @Model.Content.Map.Position
                </div>
            </text>
        )
    </div>

    <button onclick="var a = document.getElementById('pretent-accordion');a.style.display = (a.style.display=='none') ? 'block':'none'">Show/Hide Map</button>


</fieldset>
